/Leccion01/HolaMundo/nbproject/private/
/Leccion01/HolaMundo/build/
/Leccion02/ManejoVariables/nbproject/private/
/Leccion02/ManejoVariables/build/
/Leccion03/ManejoCadenasBasico/nbproject/private/
/Leccion03/ManejoCadenasBasico/build/
/Leccion04/ManejoOperadores/nbproject/private/
/Leccion04/ManejoOperadores/build/
/Leccion05/PrecedenciaOperadores/nbproject/private/
/Leccion05/PrecedenciaOperadores/build/
/Leccion06/EjemploIf/nbproject/private/
/Leccion06/EjemploIf/build/
/Leccion07/EjemploIfElseIf/nbproject/private/
/Leccion07/EjemploIfElseIf/build/