/Leccion01/HolaMundo/nbproject/private/
/Leccion01/HolaMundo/build/
/Leccion02/ManejoVariables/nbproject/private/
/Leccion02/ManejoVariables/build/
/Leccion03/ManejoCadenasBasico/nbproject/private/
/Leccion03/ManejoCadenasBasico/build/